.movie-slider-wrapper {
  padding: 15px;
}

.movie-slider-title {
  text-align: left;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
}

.movie-slides {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;
  flex-direction: row;
}

.movie-slide {
  margin-right: 10px;
  cursor: pointer;
}
